{% extends "layout.html" %}

{% block page_title %}
  Address Lookup
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
     <form action="/search" method="GET">
				<div class="form-group">
				<label class="form-label" for="line1">Line 1</label>
				<input class="form-control" id="line1" type="text" name="line1">
				</div>

				<div class="form-group">
				<label class="form-label" for="line2">Line 2</label>
				<input class="form-control" id="line2" type="text" name="line2">
				</div>

				<div class="form-group">
				<label class="form-label" for="line3">Line 3</label>
				<input class="form-control" id="line3" type="text" name="line3">
				</div>

				<div class="form-group">
				<label class="form-label" for="line3">Line 4</label>
				<input class="form-control" id="line4" type="text" name="line4">
				</div>

				<div class="form-group">
				<label class="form-label" for="town">Town</label>
				<input class="form-control" id="town" type="text" name="town">
				</div>

				<div class="form-group">
				<label class="form-label" for="postcode">Postcode</label>
				<input class="form-control" id="postcode" type="text" name="postcode">
				</div>

				<input type="hidden" name="limit" id='limit' value="100">
				<input class="button" type="submit" value="Search">
				</form>

</main>

{% endblock %}


