{% extends "layout.html" %}

{% block page_title %}
  Address Lookup
{% endblock %}

{% block content %}

<main id="content" role="main">
      <div id="map"></div>

      <script>
      function initMap() {
        var uk = {lat: 54.393352, lng: -2.416992};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: uk
        });
        
        {% for item in api_response %}
        var {{ item.id }}Marker=new google.maps.Marker({
          position: {lat: {{ item.location[0] }}, lng: {{ item.location[1] }}},
          map: map
        });

        var {{ item.id }}ContentString = ' <div><strong>UPRN</strong> {{ item.uprn }}</div> <br /><a href=#{{item.id}}>See Details</a>'

        var {{ item.id }}InfoWindow = new google.maps.InfoWindow({
          content: {{ item.id }}ContentString
        });

        {{ item.id }}Marker.addListener('click', function() {
          {{ item.id }}InfoWindow.open(map, {{ item.id }}Marker);
        });

        {% endfor %}
      }
    </script>
  <div class="grid-row">
    <div class="column-full">
        <table>
            <thead>
              <tr>
                <th scope="col">UPRN</th>
                <th scope="col">Lat Long</th>
                <th scope="col">Lines</th>
                <th scope="col">County</th>
                <th scope="col">Postcode</th>
              </tr>
            </thead>
            <tbody>
                {% for item in api_response %}
              <tr id="{{ item.id }}">
                <td scope="row">{{ item.uprn }}</td>
                <td scope="row">{{ item.location[0] }},{{ item.location[1] }}</td>
                <td scope="row">{{ item.address.lines | join(", ") }}</td>
                <td scope="row">{{ item.address.county }}</td>
                <td scope="row">{{ item.address.postcode }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</main>

{% endblock %}


