{% extends "layout.html" %}

{% block page_title %}
  Address Lookup
{% endblock %}

{% block content %}
<style>
    #map {
     height: 400px;
     width: 100%;
    }
 </style>


<main id="content" role="main">
      <div id="map"></div>

      <script>
      function initMap() {
        var uk = {lat: 54.393352, lng: -2.416992};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: uk
        });
        
        {% for item in api_response %}
        new google.maps.Marker({
          position: {lat: {{ item.location[0] }}, lng: {{ item.location[1] }}},
          map: map
        });
        {% endfor %}
        new google.maps.Marker({
          position: {lat: -25.363, lng: 131.044},
          map: map
        });
      }
    </script>
  <div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <thead>
              <tr>
                <th scope="col">UPRN</th>
                <th scope="col">Lat Long</th>
                <th scope="col">Lines</th>
                <th scope="col">County</th>
                <th scope="col">Postcode</th>
              </tr>
            </thead>
            <tbody>
                {% for item in api_response %}
              <tr>
                <td scope="row">{{ item.uprn }}</td>
                <td scope="row">{{ item.location[0] }},{{ item.location[1] }}</td>
                <td scope="row">{{ item.address.lines | join(", ") }}</td>
                <td scope="row">{{ item.address.county }}</td>
                <td scope="row">{{ item.address.postcode }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
</main>

{% endblock %}


